# Modo del entorno, puede ser 'development' o 'production'
NODE_ENV=development

# Puerto a utilizar, debe ser un número
SERVER_PORT=3000

# Url de la base de datos postgresql
DATABASE_URL=postgres://user:password@host:port/db

# Secret seed, si se cambia la aplicación obligará a todos los usuarios a volver a autentificarse, 
# debe tener al menos 12 caracteres
# Para generar una nueva semilla aleatoria ejecutar el siguiente comando en bash:
# openssl rand -hex 64
JWT_SEED=da5b055f83a856dd3a4fd5db355414a0fe8ab248fe59889cd4bb0a1406b9b2ca3636fff03c806f6dae9a9d850024d54a86de86ee72f8449d9c2bc860fd57e596

# Duración del refresh token expresado en segundos por defecto: 604800 (7 días)
REFRESH_TOKEN_DURATION=604800

# Duración del access token expresado en segundos por defecto: 1800 (30 minutos)
ACCESS_TOKEN_DURATION=1800
