---
import Label from '@/components/atoms/Label.astro'
import Input from '@/components/atoms/Input.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Button from '@/components/atoms/Button.astro'
import EyeSlashIcon from '@/components/icons/EyeSlashIcon.astro'
import EyeIcon from '@/components/icons/EyeIcon.astro'
---

<BaseLayout title="Login">
  <section class="items-center flex-col justify-center p-4 flex">
    <h1 class="text-2xl mb-4 font-medium">Iniciar sesión</h1>
    <section class="flex gap-4 md:flex-wrap">
      <form id="login-form" class="space-y-2">
        <Label text="Usuario">
          <Input name="username" type="text" autocomplete="off" />
        </Label>

        <Label text="Clave">
          <div
            class="flex border border-white/30
            bg-gray-500/5 hover:bg-gray-300/5
            transition-colors rounded-md
            hover:border-white/60 items-stretch"
          >
            <input
              class="px-3 py-2"
              name="password"
              id="password-input"
              type="password"
              autocomplete="off"
            />
            <button
              class="bg-transparent px-3 text-white/50 hover:text-white/70"
              type="button"
              id="show-password-button"
            >
              <EyeSlashIcon id="eye-slash-icon" class="w-6 h-6" />
              <EyeIcon id="eye-icon" class="w-6 h-6 hidden" />
            </button>
          </div>
        </Label>

        <div class="flex justify-center flex-col mt-8">
          <Button type="submit" fullWidth>Iniciar sesión</Button>
          <p
            id="success-message"
            class="text-sm font-medium text-green-300 mt-3"
          >
          </p>
          <p id="error-message" class="text-sm font-medium text-red-300 mt-3">
          </p>
        </div>
      </form>
    </section>
  </section>
</BaseLayout>

<script>
  import { testSession, login } from '@/core/controllers/auth'
  import { selectWith, selectSvgWith } from '@/core/lib/utils'
  import { routes } from '@/core/routes'
  ;(async () => {
    const { data } = await testSession()

    if (data != null) {
      window.location.replace(routes.dashboard)
      return
    }

    const $loginForm = selectWith<HTMLFormElement>('#login-form')
    const $successMessage = selectWith<HTMLParagraphElement>('#success-message')
    const $errorMessage = selectWith<HTMLParagraphElement>('#error-message')

    $loginForm.addEventListener('submit', async (e) => {
      e.preventDefault()
      $errorMessage.innerText = ''
      $successMessage.innerText = ''

      const formData = new FormData($loginForm)
      const { username, password } = Object.fromEntries(formData)

      if (username == null || typeof username !== 'string') {
        $errorMessage.innerText = 'Ingrese su nombre de usuario'
        return
      }

      if (password == null || typeof password !== 'string') {
        $errorMessage.innerText = 'Ingrese su clave'
        return
      }

      const { data, error } = await login({ username, password })

      if (data != null) {
        $successMessage.innerText = data.message
        data.action()
        return
      }

      if (error != null) {
        $errorMessage.innerText = error.message
        return
      }

      $errorMessage.innerText = 'Unexpected error'
    })

    const $passwordInput = selectWith<HTMLInputElement>('#password-input')
    const $showPassword = selectWith<HTMLButtonElement>('#show-password-button')
    const $eyeSlashIcon = selectSvgWith('#eye-slash-icon')
    const $eyeIcon = selectSvgWith('#eye-icon')

    $showPassword.addEventListener('click', () => {
      $eyeSlashIcon.classList.toggle('hidden')
      $eyeIcon.classList.toggle('hidden')

      const currentType = $passwordInput.type

      if (currentType === 'password') {
        $passwordInput.type = 'text'
      } else {
        $passwordInput.type = 'password'
      }
    })
  })()
</script>
