---
import type { HTMLAttributes } from 'astro/types'
interface Props extends HTMLAttributes<'button'> {
  fullWidth?: boolean
}

const { fullWidth = false } = Astro.props
---

<button
  class=`${fullWidth ? 'w-full' : 'w-fit'} button flex items-center justify-center px-5 py-3 font-semibold text-white bg-linear-[83.21deg,#3245ff_0%,#bc52ee_100%] rounded-lg text-sm transition-all duration-200 shadow hover:shadow-none`
  {...Astro.props}
>
  <slot />
</button>
