---
interface Props {
  text: string
}

const { text } = Astro.props
---

<label class="flex flex-col">
  {
    text != null && (
      <span class="text-sm font-medium mb-1 text-gray-300">{text}</span>
    )
  }
  <slot />
</label>
